<?php


/** @var \Magento\Framework\View\Element\Template $block */
/** @var \GlueAgency\BackendGoogleSignOn\ViewModel\GoogleSignOn $googleSignOnViewModel */
$googleSignOnViewModel = $block->getGoogleSignOnViewModel();
?>
<button id="glueagency-google-backend-sign-on" type="button" class="action-google-login action-login action-primary" style="display: flex;align-items: center;justify-content: center;">
        <img width="18" height="18" src="<?= $block->getViewFileUrl('GlueAgency_BackendGoogleSignOn::images/glue.png') ?>" />
</button>

<script type="text/javascript">
require(['jquery'], function ($) {
    $('#glueagency-google-backend-sign-on')
        .appendTo('.form-actions .actions')
        .click(function () {
            self.location.href="<?= /* @noEscape */ $googleSignOnViewModel->getAuthUrl() ?>";
        });
});
</script>
